.card-shadow{
    border: 1px solid #CED4DA;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.075);
    border-radius: 5px;
}
.align-end{
    display: flex !important;
    justify-content: flex-end !important;
}
.mt-5 {
    margin-top: 3rem!important;
}
.mt-3 {
    margin-top: 1rem!important;
}
.mb-3 {
    margin-bottom: 1rem!important;
}
.my-3 {
    margin-top: 1rem!important;
    margin-bottom: 1rem!important;
}
.me-5 {
    margin-right: 3rem!important;
}
.p-2 {
    padding: .5rem!important;
}
.ps-4 {
    padding-left: 1.5rem!important;
}
.pe-3 {
    padding-right: 1rem!important;
}
.align-items-end {
    align-items: flex-end!important;
}
.justify-content-end {
    justify-content: flex-end!important;
}
.d-flex {
    display: flex!important;
}
.border {
    border: 1px solid #dee2e6!important;
}
.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.rounded-3 {
    border-radius: .3rem!important;
}
.align-baseline {
    vertical-align: baseline!important;
}