.card-shadow{
    border: 1px solid #CED4DA;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.075);
    border-radius: 5px;
}
.align-end{
    display: flex !important;
    justify-content: flex-end !important;
}
.mt-5 {
    margin-top: 3rem!important;
}
.mt-3 {
    margin-top: 1rem!important;
}
.me-5 {
    margin-right: 3rem!important;
}