@import '../../assests/scss/variables';
@import '../../assests/scss/mixins';

header {
  box-shadow: 0 2px 4px 1px #D7D7D7;

  &.ant-layout-header {
    height: 70px;
    padding: 0 37px;
    background: #2B2F4C;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 11;
  }

  .navigation-bar {
    position: relative;
    width: 100%;

    &__left {
      display: flex;
      align-items: center;
    }

    &__logo {
      font-style: italic;
      @include setFont(24px, 500, 36px, #FFF);
      margin-right: 20px;
    }

    span.ant-input-search--override {
      max-width: 720px;
    }
  }
}

main.ant-layout-content {
  background-color: #fff;
  @include container;
}

footer.main-footer-wrapper {
  background: #F3F3F3;
  color: #fff;
}

footer.main-footer-wrapper {
  h4 {
    @include setFont(16px, 600, 20px, #000);
    margin-bottom: 16px;
  }

  .ant-row ul {
    padding-left: 0;
    margin-bottom: 0;

    > li {
      a {
        @include setFont(16px, 400, 19px, #000);
        width: max-content;

        &:hover {
          color: #727272;
        }
      }

      &:not(:last-of-type) {
        margin-bottom: 7px;
      }
    }
  }

  .social-network-list {
    li {
      display: inline-block;
      width: max-content;
      margin-right: 15px;
    }
  }
}
