.app {
  min-height: 100vh;
  background-color: #fff;
  font-family: 'SFUI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.link--normalize {
  color: #fff;
  text-decoration: none;

  &:hover {
    color: #fff;
  }
}
