.login-page {
  &__wrapper {
    display: flex;
    flex: 1;
  }

  &__login-form {
    width: 50%;
    display: flex;

    form.login-form {
      
    }
  }

  // &-form {
  //   width: 420px;

  //   &-forgot-password {
  //     float: right;
  //   }

  //   &-button {
  //     width: 100%;
  //     text-transform: uppercase;
  //   }

  //   &-create-account {
  //     text-align: center;
  //   }
  // }

  &__cover-image {
    background: url('../../../assests/images/shipping-login.png') no-repeat center;
    width: 50%;
    background-size: cover;
  }
}